.map {
    position: relative;
    align-items: center;
    display: block;
    flex-flow: row;
    max-width: 100%;
    min-width: 0;
    height: 415px;
    overflow: hidden;
    width: 100%;
}

.map-buttons-side {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    margin-right: -40px;
    position: absolute;
    right: 0;
    row-gap: 8px;
}

.map-buttons {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    filter: drop-shadow(0 0 3px rgba(0,0,0,.2));
    display: flex;
    flex-flow: column;
    flex-shrink: 1;
    max-width: 100%;
    min-width: 0;
}

.map-single-button {
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
}

.map-btn {
    filter: none;
    background: #fff;
    border: none;
    border-radius: 3px;
    height: 28px;
    padding: 8px;
    width: 28px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    align-items: center;
    display: inline-flex;
    flex-shrink: 1;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    min-width: 0;
    outline: none!important;
    text-align: center;
    white-space: nowrap;
}

.map-img-box {
    margin: 0;
    display: inline-flex;
}

.map-btn-img {
    display: block;
    filter: invert(56%) sepia(17%) saturate(473%) hue-rotate(194deg) brightness(84%) contrast(80%);
    height: 16px;
    width: 16px;
    flex-shrink: 0;
    max-width: none;
    pointer-events: none;
    -webkit-user-select: none;
    vertical-align: middle;
    font-size: 0;
}

.map-btn span {
    flex-shrink: 1;
    max-width: 100%;
    min-width: 0;
}

.line {
    background: #d0d8e6;
    height: 1px;
    width: 75%;
}

