.location-container {
  position: relative;
  width: 100%;
}

.location-input {
  background: hsla(0, 0%, 100%, 0);
  border: none;
  flex: 1 0 100%;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  border: 1px solid #d0d8e6 !important;
  border-radius: 5px;
  padding: 5px 15px;
}

.suggestion-dropdown {
  /* position: absolute; */
  top: 0;
  left: 0;
  text-align: left;
  margin: 10px 0 20px 0;
}
.suggestion-item,
.suggestion-item--active {
  padding: 8px 10px;
  font-size: 1rem;
  transition: all 0.2s;
}
.suggestion-item--active {
  background: #e3fafc !important;
}
