.container {
  position: relative;
  border-top: 1px solid #d0d8e6;
  padding: 15px 0;
  flex: 1 1;
}

.container_comments {
  max-height: 45vh;
  overflow: auto;
  padding-bottom: 50px;
  width: 100%;
  scroll-behavior: smooth;
}

.container .root_input {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.comment_box {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  position: relative;
}

.content_box {
  text-align: left;
  margin-bottom: 15px;
}

.content_box button {
  font-size: 0.75rem;
  font-weight: 700;
  justify-content: flex-start;
  width: max-content;
  height: auto;
  transition: all 0.2s;
}
.content_box button:hover {
  text-decoration: underline;
}

.formComment {
  padding: 0 16px;
  display: flex;

  /* margin-bottom: 15px; */
}
.formComment .comment_right {
  flex: 1;
  /* margin-bottom: 15px; */
}

.comment_box input {
  border: 1px solid #d0d8e6;
  border-radius: 8px;
  font-size: 0.875rem;
  min-height: 48px;
  padding: 0 12px;
  width: 100%;
}

.comment_box button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 40px;
  height: 40px;
  background: #00e1d6;
  border-radius: 50%;
}

.comment_box button svg {
  font-size: 22px;
  padding-top: 3px;
}

.comment a img {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 44px;
  object-fit: cover;
  width: 44px;
}

.content {
  background: #eff4f9;
  border-radius: 8px;
  max-width: 100%;
  min-width: 56px;
  padding: 12px 16px;
  width: fit-content;
  margin-bottom: 10px;
}

.content a {
  color: #202d3d;
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.content a p {
  color: #787c94;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
}

.main {
  align-items: center;
  color: #202d3d;
  display: flex;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 4px;
  word-break: break-word;
}

.comment_actions {
  display: inline-flex;
  gap: 10px;
}
