.container {
  border-top: 1px solid #d0d8e6;
  /* max-height: 45vh; */
  padding: 15px 0;
}

.comment_box {
  flex: 1 1 0;
  display: flex;
  align-items: center;
}

.formComment {
  padding: 0 16px;
  display: flex;
}

.comment_box input {
  border: 1px solid #d0d8e6;
  border-radius: 8px;
  font-size: .875rem;
  min-height: 48px;
  padding: 0 12px;
  width: 100%;
}

.comment_box button {
  position: absolute;
  right: 25px;
  display: block;
  width: 40px;
  height: 40px;
  background: #00e1d6;
  border-radius: 50%;
}

.comment_box button svg {
  font-size: 22px;
  padding-top: 3px;
}

.comment a img {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 44px;
  object-fit: cover;
  width: 44px;
}