.isActive {
  background: #00e1d6;
  color: #fff;
}

.item {
  padding: 5px 25px 0px 25px;
  border-radius: 10px;
  cursor: pointer;
}
.notify_input {
  width: 100%;
  font-size: 20px;
}

.input {
  display: flex;
  padding: 0 20px;
  gap: 10px;
  width: 90%;
  max-width: 500px;
  margin-bottom: 20px;
}

.input select {
  background: hsla(0, 0%, 100%, 0);
  border: none;
  font-size: 1rem;
  overflow: hidden;
  width: 100%;
  border: 1px solid #d0d8e6 !important;
  border-radius: 5px;
  padding: 5px 15px;
}
