.popupContent {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    position: absolute;
    pointer-events: auto;
    top: 70px;
    z-index: 999;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 3px 10px hsla(0, 0%, 4%, 0.15) !important;
    color: #202d3d;
    font-size: 0.875rem;
    max-width: 400px;
    min-width: 180px;
    padding: 0;
    width: auto !important;
    display: block !important;
    right: 280px;
}

.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdownTop {
    height: 8px;
    width: 16px;
    position: absolute;
    background: transparent;
    color: rgb(255, 255, 255);
    z-index: 1;
    transform: rotate(0deg) translateY(-100%) translateX(-50%);
    top: 0%;
    right: 22px;
}

.formLogout {
    display: flex;
    flex-flow: column;
    max-height: calc(80vh - 100px);
    min-width: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.logout {
    align-items: center;
    display: flex;
    height: 40px;
    padding: 0 20px;
}

.logoutContent {
    align-items: center;
    max-width: 100%;
    padding: 15px;
}

.logoutContent input {
    border: 1px solid hsla(0, 0%, 100%, 0) !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 9px rgba(0, 0, 0, .1) !important;
    box-sizing: border-box !important;
    font-size: 1rem !important;
    max-width: 100% !important;
    min-height: 48px !important;
    overflow: hidden !important;
    padding: 0 12px !important;
    width: 400px;
}

.listGmail {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    background: #eff4f9;
    border-radius: 16px;
    color: #202d3d;
    display: table;
    font-weight: 600;
    max-width: 100%;
    min-width: 0;
    padding-left: 12px;
    padding-right: 12px;
    vertical-align: top;
}

.addMail {
    cursor: pointer;

}