.trip-container {
    padding: 0 30px;
}

.trip-items {
    padding: 8px 12px 12px 12px;
    
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .trip-items {
        grid-template-columns: 100%;
        padding: 8px 12px 8px 12px !important;
    }
}
