.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 80px);
    position: relative;
    z-index: 0;
}

.travelers {
    bottom: 0;
    height: 500px;
    position: fixed;
    width: 550px;
    z-index: -1;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo a {
    height: 200px;
    width: 210px;
    display: inline-block;
    cursor: pointer;
}

.logo a img {
    max-height: 100%;
    max-width: 100%;
}

.register {
    background: #fff;
    border-radius: 16px;
    -moz-box-shadow: 0 0 64px hsla(0, 0%, 4%, .15);
    box-shadow: 0 0 64px hsl(0deg 0% 4% / 15%);
    width: 784px;
    align-items: center;
    display: flex;
    flex-flow: column;
    flex-shrink: 1;
    max-width: 100%;
    min-width: 0;
}

.formRegister {
    display: flex;
    flex-flow: column;
    flex-shrink: 1;
    max-width: 100%;
    min-width: 0;
    padding: 30px 90px;
    width: 100%;
    align-items: center;
}

.formRegisterEmail {
    display: flex !important;
    flex-flow: column;
    flex-shrink: 1;
    max-width: 100%;
    min-width: 0;
    padding: 30px 90px;
    width: 100%;
    align-items: center;
}

.formRegisterHidden {
    display: none;
}

.title {
    align-items: center;
    display: flex;
    flex-flow: row;
    max-width: 100%;
    min-width: 0;
    margin-bottom: 16px;
    margin-top: 0;
    position: relative;
    width: 100%;
    justify-content: center;
}

.title h1 {
    font-weight: 700;
    text-align: left;
    font-size: 2rem;
    height: 3rem;
}

.formRegister a,
button {
    width: 100%;
    margin-bottom: 16px;
    margin-top: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    align-items: center;
    border-radius: 8px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 1;
    font-size: .875rem;
    font-size: 1rem;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    min-width: 0;
    outline: none !important;
    padding: 0 21.5px;
    text-align: center;
    white-space: nowrap;
}

.icons {
    display: inline-flex;
    margin: 0 16px 0 0;
}

.icons svg {
    margin-right: 10px;
    font-size: 20px;
}

.icons img {
    display: block;
    filter: invert(100%);
    height: 20px;
    width: 27px;
}

.login {
    align-items: center;
    background: #f4f8fb;
    border-radius: 0 0 16px 16px;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: 8px 0;
    width: 100%;
}

.login a {
    text-decoration: underline;
    background: hsla(0, 0%, 100%, 0);
    color: #202d3d;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    align-items: center;
    border-radius: 8px;
    border-width: 0;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 1;
    font-size: 1rem;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    min-width: 0;
    outline: none !important;
    padding: 0 21.5px;
    text-align: center;
    white-space: nowrap;
}

.loginEmail button {
    width: 100%;
    margin-bottom: 16px;
    margin-top: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    align-items: center;
    border-radius: 8px;
    border-width: 0;
    background: #202d3d;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 1;
    font-size: .875rem;
    font-size: 1rem;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    min-width: 0;
    outline: none !important;
    padding: 0 21.5px;
    text-align: center;
    white-space: nowrap;
}

.span {
    color: #202d3d;
    font-size: .875rem;
    line-height: 1.5;
}

.span a {
    font-size: .875rem;
    font-weight: 700;
    margin: 0 4px;
    text-decoration: underline;
    color: #202d3d;
    display: inline-flex;
    padding: 0;
    width: auto;
}

.back {
    left: 0;
    position: absolute;
    background: hsla(0, 0%, 100%, 0);
    color: #202d3d;
    display: -webkit-inline-box;
}

.back img {
    transform: rotate(180deg);
    display: block;
    filter: invert(56%) sepia(17%) saturate(473%) hue-rotate(194deg) brightness(84%) contrast(80%);
    height: 16px;
    width: 16px;
}

.input {
    margin-bottom: 16px;
    margin-top: 0;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    outline: none;

}

.inputEmail {
    border-radius: 8px;
    position: relative;
    width: 100%;
}

.inputEmail input {
    background: #fff;
    border: 1px solid #d0d8e6;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: Open Sans,
        sans-serif;
    font-size: .875rem;
    max-width: 100%;
    min-height: 56px;
    overflow: hidden;
    padding: 0 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    width: 100%;
}

.recap {
    margin-bottom: 16px;
    margin-top: 0;
    align-items: end;
    flex-flow: row;
    justify-content: center;
}

.recap a {
    font-size: .875rem;
    font-weight: 700;
    margin: 0 4px;
    text-decoration: underline;
    background: hsla(0, 0%, 100%, 0);
    color: #202d3d;
}