.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 80px);
    padding: 40px 0;
    position: relative;
    z-index: 0;
}

.travelers {
    bottom: 0;
    height: 400px;
    position: fixed;
    width: 550px;
    z-index: -1;
}

.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.logo a {
    height: 62px;
    width: 265.36px;
    display: inline-block;
    cursor: pointer;
}

.logo a img {
    max-height: 100%;
    max-width: 100%;
}

.register {
    background: #fff;
    border-radius: 16px;
    -moz-box-shadow: 0 0 64px hsla(0, 0%, 4%, .15);
    box-shadow: 0 0 64px hsl(0deg 0% 4% / 15%);
    width: 784px;
    align-items: center;
    display: flex;
    flex-flow: column;
    flex-shrink: 1;
    max-width: 100%;
    min-width: 0;
}

.formRegister {
    display: flex;
    flex-flow: column;
    flex-shrink: 1;
    max-width: 100%;
    min-width: 0;
    padding: 30px 90px;
    width: 100%;
    align-items: center;
}

.title {
    align-items: center;
    display: flex;
    flex-flow: row;
    max-width: 100%;
    min-width: 0;
    margin-bottom: 16px;
    margin-top: 0;
    position: relative;
    width: 100%;
    justify-content: center;
}

.title h1 {
    font-weight: 700;
    text-align: left;
    font-size: 2rem;
    height: 3rem;
}

.formRegister a,
button {
    width: 100%;
    margin-bottom: 16px;
    margin-top: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    align-items: center;
    border-radius: 8px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 1;
    font-size: .875rem;
    font-size: 1rem;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    min-width: 0;
    outline: none !important;
    padding: 0 21.5px;
    text-align: center;
    white-space: nowrap;
}

.icons {
    display: inline-flex;
    margin: 0 16px 0 0;
}

.icons img {
    display: block;
    filter: invert(100%);
    height: 20px;
    width: 27px;
}

.login {
    align-items: center;
    background: #f4f8fb;
    border-radius: 0 0 16px 16px;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    padding: 8px 0;
    width: 100%;
}

.login a {
    text-decoration: underline;
    background: hsla(0, 0%, 100%, 0);
    color: #202d3d;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    align-items: center;
    border-radius: 8px;
    border-width: 0;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 1;
    font-size: 1rem;
    font-weight: 700;
    height: 48px;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    min-width: 0;
    outline: none !important;
    padding: 0 21.5px;
    text-align: center;
    white-space: nowrap;
}

.span {
    color: #202d3d;
    font-size: .875rem;
    line-height: 1.5;
}

.span a {
    font-size: .875rem;
    font-weight: 700;
    margin: 0 4px;
    text-decoration: underline;
    color: #202d3d;
    display: inline-flex;
    padding: 0;
    width: auto;
}