.item {
  display: flex;
  font-size: 1.2rem;
  padding: 15px 30px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #343a40;
  transition: all 0.2s;
}

.item:hover,
.item:active {
  border-radius: 5px;
  background: #e7f5ff;
}
.price {
  margin-left: auto;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 30px;
  max-width: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.action {
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 5px;
}

.action:nth-child(1):hover {
  color: #ffff;
  background: #22b8cf;
}
.action:nth-child(2):hover {
  color: #ffff;
  background: #f03e3e;
}

.item:hover .actions {
  max-width: 70px;
}
