.header {
  width: 1600px;
  box-sizing: border-box;
  float: none !important;
  margin: 0 auto;
  max-width: calc(100% - 48px);
  padding-top: 80px;
}

.row {
  flex-flow: row;
}

.header-cover {
  display: flex;
  flex-flow: column;
  flex-shrink: 1;
  max-width: 100%;
  min-width: 0;
  height: 350px;
  position: relative;
  width: 100%;
  margin-bottom: 250px;
}

.header-cover-photo {
  height: 100%;
  position: absolute;
  width: 100%;
}

.header-cover-photo-bg {
  height: 100%;
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg,
      hsla(0, 0%, 100%, 0) 50%,
      rgba(0, 0, 0, 0.44));
  border-radius: 8px;
}

.header-cover-img {
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
  width: 100%;
  display: block;
  vertical-align: middle;
  font-size: 0;
}

.header-cover-content {
  height: 100%;
  padding: 0 88px 24px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
  flex-flow: row;
  max-width: 100%;
  min-width: 0;
}

.header-cover-content-details {
  margin-bottom: -120px;
  pointer-events: all;
  width: 100%;
  align-items: center;
  display: flex;
  flex-flow: row;
  max-width: 100%;
  min-width: 0;
}

.avatar-cover {
  align-items: center;
  filter: drop-shadow(0 16px 15px rgba(10, 10, 10, 0.15));
  flex-shrink: 0;
  margin-bottom: -60px;
  margin-right: 40px;
  position: relative;
  display: flex;
  flex-flow: column;
  max-width: 100%;
  min-width: 0;
  pointer-events: all;
  width: 100%;
  align-items: center;
  display: flex;
  flex-flow: row;
  max-width: 100%;
  min-width: 0;
}

.avatar-cover {
  align-items: baseline;
  filter: drop-shadow(0 16px 15px rgba(10, 10, 10, 0.15));
  flex-shrink: 0;
  margin-bottom: -16px;
  margin-right: 40px;
  position: relative;
  display: flex;
  flex-flow: column;
  max-width: 20%;
  min-width: 0;
}

.avatar-inner-cover {
  display: flex;
  position: relative;
  z-index: 1;
}

.avatar-img {
  border: 2px solid transparent;
  border-radius: 50%;
  height: 192px;
  object-fit: cover;
  width: 192px;
}

.name {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  flex-shrink: 1;
  max-width: 100%;
  min-width: 0;
}

.user-name {
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 2px #00000033;
  font-size: 2rem;
  padding-bottom: 2.5px;
  border: 1px solid hsla(0, 0%, 100%, 0);
  border-radius: 8px;
  display: block;
  font-family: Open Sans, sans-serif;
  line-height: 1.5;
  text-decoration: none;
  vertical-align: middle;
  text-align: left;
  cursor: text;
}

@media (min-width: 1025px) {
  .user-url {
    width: 100%;
    color: #fff;
    font-size: 1rem;
    text-shadow: 1px 1px 2px #00000033;
    font-weight: 600;
    vertical-align: middle;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 2px #00000033;
    font-size: 2rem;
    padding-bottom: 2.5px;
    border: 1px solid hsla(0, 0%, 100%, 0);
    border-radius: 8px;
    display: block;
    font-family: Open Sans, sans-serif;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    text-align: left;
    cursor: text;
  }
}

.user-url {
  color: #fff;
  font-size: 1rem;
  text-shadow: 1px 1px 2px #00000033;
  font-weight: 600;
}

.header-second-section {
  min-height: 64px;
  row-gap: 16px;
  display: flex;
  flex-flow: column;
  flex-shrink: 1;
  max-width: 100%;
  min-width: 0;
}

.user-info {
  column-gap: 32px;
  align-items: center;
  display: flex;
  flex-flow: row;
  max-width: 100%;
  min-width: 0;
}

.user-repository {
  justify-content: space-around;
  column-gap: 32px;
  align-items: center;
  display: flex;
  flex-flow: row;
  max-width: 100%;
  min-width: 0;
}

.user-repo-item {
  font-weight: 600;
  color: #787c94;
  text-shadow: unset;
}

.user-repo-item span {
  font-weight: 700;
  color: #000;
}

.user-description {
  text-align: left;
  font-size: 1rem;
  color: #787c94;
  line-height: 1.5;
  white-space: normal;
  word-break: break-word;
}

@media (max-width: 1024px) {
  .header {
    max-width: 100%;
    width: 100%;
  }

  .header-cover {
    padding: 0;
    height: 200px;
  }

  .header-cover-content {
    position: flex;
    top: 0;
    left: 0;
    padding: 0;
  }

  .header-cover-photo {
    height: 100%;
    position: absolute;
  }

  .avatar-cover {
    margin-top: -300px;
    align-items: center;
    filter: drop-shadow(0 16px 15px rgba(10, 10, 10, 0.15));
    flex-shrink: 0;
    position: absolute;
    display: flex;
    max-width: 100%;
    min-width: 0;
    margin-right: unset;
    width: 100%;
    justify-content: center;
    padding: 0;
    flex-flow: row;
  }

  .avatar-inner-cover {}

  .avatar-img {
    height: 192px;
    object-fit: cover;
    width: 192px;
    display: block;
    vertical-align: middle;
    font-size: 0;
  }

  .header-second-section {
    display: flex;
    margin-bottom: 32px;
    margin-left: unset;
    margin-right: unset;
    row-gap: 24px;
    min-height: 64px;
    width: 100%;
  }

  .name {
    margin-bottom: -280px;
    align-items: center;
    position: relative;
    width: 100%;
    display: block;
    flex-flow: row;
    flex-shrink: 1;
    max-width: 100%;
    text-align: center;
  }

  .user-name {
    color: #202d3d;
    text-shadow: unset;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    flex-flow: row;
  }

  .user-url {
    color: #202d3d;
    flex-flow: row;
  }

  .user-repository {
    padding: 0 24px;
    width: 100%;
  }

  .user-description {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .header {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .header {
    width: 100%;
  }
}