.header {
  position: relative;
  background: #9999;
  position: relative;
  background-image: url(.././../../assets/images/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-origin: 100%; */
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}
