.travelers_container {
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 30px;
}

.traveler {
  padding: 0 10px;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .traveler {
    padding: 0 30px;
  }
}